.btn.btn-link:hover{
	color: #fff !important;
}

#text-well{
		background:transparent !important;
		padding-top: 40px;
		padding-bottom: 47px;
	 }
#banner{
	background-image:url('/styleVoltage/images/ciiemp-Walpaper.jpg');
}

@media screen and (max-device-width:360px){
	#text-well
	{
		display: none;
	}
	#banner
	{
		background-repeat: no-repeat;
	 	background-size:100% auto;
	}
	
	.fh5co-cover {
    min-height: 25px !important;
	}
			
}

@media screen and (max-device-width:640px){
	#text-well
	{
			
		display: none;
	}
	#banner
	{
		background-repeat: no-repeat;
	 	background-size:100% auto;
	}			
}




